

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    border-bottom:1px solid #573737;
}

.logo h2{
    font-size:20px;
    line-height:1px;
}

.nav-menu{
    list-style:none;
    display:flex;
    gap:40px;
}

.nav-menu a{
    text-decoration:none;
    color:black;
    font-size:14px;
}

.btn{
    background:#082db3;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:7px;
    
}

/* Banner (hero) section */

.hero{
    height:800px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    
    url("assets/banner.jpg");

    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero-content{
    color:white;
    width:80%;
}

.hero-content h1{
    font-size:60px;
    margin-bottom:20px;
}



.hero-content p{
    font-size:16px;
    line-height:28px;
    margin-bottom:35px;
}
.hero .btn{
    font-size:20px;
    padding:20px 60px;
}